@import "styles/common";

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;
}

.content {
  -webkit-overflow-scrolling: touch;
  background: $white;
  bottom: 0;
  left: 0;
  overflow: auto;
  padding: 20px 0;
  position: absolute;
  right: 0;
  top: 0;
}
