@import "styles/common";

.container {
  align-items: center;
  display: flex;
  height: 300px;
  padding: 12px;

  .wireframe-container {
    @include user-select(none);

    align-items: center;
    display: flex;
    justify-content: center;

    .resume-wireframe {
      height: 103px;
    }
  }

  .info-container {
    margin-bottom: 12px;

    .name {
      font-size: 1.25em;
      line-height: 1.2;
    }

    .updated-time {
      color: $gray-50;
      font-size: 0.875em;
      line-height: 1.2;
    }
  }

  .action-container {
    @include user-select(none);
    align-items: center;
    display: flex;
    margin-bottom: 4px;

    .icon {
      margin-right: 8px;
    }

    .delete-text {
      cursor: pointer;

      &:hover {
        color: $deep-purple-500;
      }
    }
  }
}
