@import "styles/common";

.outer-container {
  min-height: calc(100vh - 166px);
}

.container {
  .header-el {
    margin-bottom: 12px;
  }

  .create-new-button {
    white-space: nowrap;

    @media (max-width: $xs-screen-max) {
      width: 100%;
    }
  }

  .add-button-container {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }
}

.resumes-container {
  margin-top: 16px;

  .resume-card {
    margin-bottom: 12px;
  }
}
