@import "styles/common";

.alert {
  margin: 0 auto;
  width: fit-content;
}

.outer-container {
  color: $grey-800;

  &.loading {
    opacity: 0;
  }

  .cta-container {
    margin: 32px auto;
    max-width: 223px;
  }
}

.primary-container {
  background-color: $blue-grey-50;
  margin-bottom: 80px;
  padding-top: 16px;

  &.alert-dismissed {
    padding-top: 40px;

    @media (min-width: $lg-screen-min) {
      padding-top: 60px;
    }

    @media (min-width: $xl-screen-min) {
      padding-top: 68px;
    }
  }

  .extra-margin {
    margin-top: 12px;
  }

  .resume-col {
    margin: 0 auto;
    max-width: 870px;
    padding: 0 35px;

    // http://davidecalignano.it/lazy-loading-with-responsive-images-and-unknown-height/
    .resume-card {
      display: block;
      height: 0;
      margin: 0 auto;
      padding-top: 68.37346665188336%;
      position: relative;
      text-align: center;
      width: 100%;

      .resume {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }

  .divider {
    margin-top: -1px;
  }
}

.text {
  margin: 0 auto 4px !important;
  max-width: 383px;
  text-align: center;
}

.hero-text {
  max-width: 483px;
}

.resume-wireframe-container {
  text-align: center;

  .resume-wireframe {
    height: 200px;
  }
}
