@import "styles/common";

.delayed {
  transition-delay: 0.75s;
}

.outer-container {
  color: $grey-800;

  &.loading {
    opacity: 0;
  }

  .cta-container {
    margin: 32px auto;
    max-width: 223px;
  }
}

.primary-container {
  background-color: $blue-grey-50;
  margin-bottom: 80px;
  padding-top: 16px;

  &.alert-dismissed {
    padding-top: 40px;

    @media (min-width: $lg-screen-min) {
      padding-top: 60px;
    }

    @media (min-width: $xl-screen-min) {
      padding-top: 68px;
    }
  }

  .extra-margin {
    margin-top: 12px;
  }

  .resume-col {
    padding: 0 35px;

    .resume-card {
      margin: 0 auto;
      text-align: center;
      width: fit-content;

      .resume {
        height: auto;
        max-width: 100%;
      }
    }
  }

  .divider {
    margin-top: -1px;
  }
}

.text {
  margin: 0 auto 4px !important;
  max-width: 383px;
  text-align: center;
}

.hero-text {
  max-width: 483px;
}

.alert {
  margin: 0 auto;
  width: fit-content;
}
