@import "styles/common";

.container {
  .header-el {
    margin-bottom: 12px;
  }

  .cta-button-container {
    justify-self: center;
  }

  .create-new-button {
    white-space: nowrap;

    @media (max-width: $xs-screen-max) {
      width: 100%;
    }
  }
}
