@import "styles/common";

.back-container {
  position: relative;

  .back {
    border-radius: 20px;
    left: 20px;
    position: absolute;
    top: 20px;
    z-index: 9999;

    &:hover {
      background-color: $grey-200;
    }
  }
}

.outer-container {
  margin-top: 32px;

  .resume-name-container {
    justify-content: center;
  }

  .section-header {
    font-size: 1.375em;
    font-weight: $bolder;
  }

  .mb16 {
    margin-bottom: 16px;
  }

  .supporting-info {
    color: $gray-70;
    font-size: 0.75em;
    margin-top: 4px;
  }
}
