@import "styles/common";

.container {
  margin: 0 12px;
  
  .prof-experience {
    margin-bottom: 0;
  }

  .supporting-info {
    color: $gray-70;
    font-size: 0.75em;
    margin-top: 4px;
  }
}
