@import "styles/common";

.expansion-panel-summary {
  cursor: default;

  .summary {
    font-size: 0.875em;
    font-weight: $bolder;
  }
}

.mb16 {
  margin-bottom: 16px;
}

.delete-icon-container {
  align-items: center;
  display: flex;
  justify-content: flex-end;

  .delete-icon {
    cursor: pointer;
  }
}
