.container {
  display: grid;
  justify-items: center;

  :global(.kep-login-facebook.metro) {
    align-items: center;
    border-radius: 4px;
    display: flex;
    font-family: inherit;
    justify-content: space-between;
    padding: 10px 12px;
    text-transform: unset;
    width: 233px;
  }
}
