@import "styles/common";

.toolbar {
  flex-grow: 1;
  justify-content: space-between;

  .title {
    .logo {
      height: 40px;
    }
  }

  .cta-link {
    background-color: $white;
    color: $deep-purple-500;
    margin-left: 12px;
  }

  .header-button {
    min-width: auto;
    white-space: nowrap;
  }
}
