@import "styles/common";

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.pdf-viewer-wrapper {
  margin-bottom: 12px;
  zoom: 0.62;

  @media (min-width: $xl-screen-min) {
    zoom: 0.75;
  }
}
