@import "styles/common";

.container {
  align-items: center;
  display: flex;
  flex-direction: column;

  transform: scale(0.62);

  @media (min-width: $xl-screen-min) {
    transform: scale(0.75);

    @media (max-height: 760px) {
      transform: scale(0.72);
    }
  }

  @media (max-height: 647px) {
    transform: scale(0.6);
  }

  @media (max-height: 553px) {
    transform: scale(0.48);
  }

  .prev-next-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 8px;

    .prev-next-button {
      margin-left: 8px;
      margin-right: 8px;
    }
  }

  .download-as-pdf-button {
    margin-top: 8px;
  }
}

:global(.react-pdf__Page__annotations) {
  &:global(.annotationLayer) {
    display: none;
  }
}
