@import "styles/common";

.resume-preview {
  align-items: center;
  display: none;
  height: 100vh;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
  width: 41.6666666666667%;

  &.preview-mode {
    @media (max-width: 991px) {
      display: flex;
      height: calc(100vh - 48px);
      position: relative;
      width: 100%;
    }
  }

  @media (min-width: $xl-screen-min) {
    width: 50%;
  }
}

.preview-mode {
  .container {
    @media (max-height: 647px) {
      transform: scale(0.6);
    }

    @media (max-height: 553px) {
      transform: scale(0.48);
    }

    @media (max-width: $xs-screen-max) {
      transform: scale(0.58);
    }

    @media (max-width: 415px) {
      transform: scale(0.48);
    }
  }
}

/*
.pdf-viewer-wrapper {
  transform: scale(0.62);

  @media (min-width: $xl-screen-min) {
    transform: scale(0.75);

    @media (max-height: 760px) {
      transform: scale(0.62);
    }
  }

  @media (max-height: 647px) {
    transform: scale(0.4);
  }
}

*/
