@import "styles/common";

.resume-preview {
  align-items: center;
  display: none;
  height: 100vh;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
  width: 41.6666666666667%;

  &.preview-mode {
    @media (max-width: 991px) {
      display: flex;
      height: calc(100vh - 48px);
      position: relative;
      width: 100%;
    }
  }

  @media (min-width: $xl-screen-min) {
    width: 50%;
  }
}

.preview-mode {
  @media (max-width: $xs-screen-max) {
  }
}
/*
.pdf-viewer-wrapper {
  // zoom: 0.62;
  //
  // @media (min-width: $xl-screen-min) {
  //   zoom: 0.75;
  //
  //   @media (max-height: 760px) {
  //     zoom: 0.62;
  //   }
  // }
  //
  // @media (max-height: 647px) {
  //   zoom: 0.4;
  // }
}
*/
