@import "styles/common";

.mb16 {
  margin-bottom: 16px;
}

.date-picker {
  width: 100%;
}

.spec {
  .currently-work-here {
    color: $gray-80;
    font-size: 0.875em;

    &-root {
      margin-bottom: 0;
    }
  }

  .start-date {
    @media (min-width: $md-screen-min) {
      margin-bottom: 0;
    }
  }

  .editor {
    border-radius: 8px;
  }
}
