@import "styles/common";

.mb16 {
  margin-bottom: 16px;
}

.delete-icon-container {
  cursor: pointer;
  margin-right: 8px;

  .delete-icon {
    color: $gray-60;
  }
}

.summary {
  align-items: center;
  display: flex;
  font-size: 0.875em;
  line-height: 1.2;
  margin-bottom: 16px;
  margin-top: 16px;

  .title {
    font-weight: $bolder;
  }
}

.date-picker {
  width: 100%;
}

.spec {
  .start-date {
    @media (min-width: $md-screen-min) {
      margin-bottom: 0;
    }
  }

  .editor {
    border-radius: 8px;
  }
}

.location-container {
  margin-bottom: 16px;

  @media (min-width: $md-screen-min) {
    margin-bottom: 0;
  }
}

.currently-work-here-container {
  display: flex;
  justify-content: center;

  @media (min-width: $sm-screen-min) {
    display: block;
  }
}
