@import "styles/common";

.auth-container {
  display: grid;
  grid-template: repeat(4, auto) / 1fr;
  margin: 36px auto;
  max-width: 361px;

  :global(.mdc-text-field-helper-text--validation-msg) {
    margin-bottom: 12px;
  }

  .h1 {
    color: $mdc-theme-primary;
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-align: center;
  }
}

.switch-auth-method {
  font-size: 0.875em;
  margin-top: 12px;
  text-align: center;
}

.funnel-stage {
  &-1 {
    transform: translateX(0%);
  }

  &-2 {
    transform: translateX(-100%);
  }

  &-3 {
    transform: translateX(-200%);
  }

  &-4 {
    transform: translateX(-300%);
  }
}

.p {
  color: $gray-60;
  margin-bottom: 1rem;
  text-align: center;
}

.funnel-container {
  display: grid;
  grid-template-columns: repeat(4, 100%);
  margin: 0 auto;
  transition: transform 0.4s ease;

  .form-funnel {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;

    @media (min-width: 540px) {
      width: 520px;
    }

    .h1 {
      color: $mdc-theme-primary;
      font-weight: 600;
      text-align: center;
    }

    .fields {
      display: grid;

      :global(.mdc-text-field-helper-text--validation-msg) {
        margin-bottom: 12px;
      }
    }

    .text-field {
      margin-bottom: 31px;

      &.helper-text-active {
        margin-bottom: 9px;
      }
    }

    .button-container {
      display: grid;
      grid-column-gap: 16px;
      grid-template-columns: 1fr 1fr;
    }
  }
}

.connect-with-container {
  display: grid;
  margin-bottom: 16px;
}
