@import "styles/common";

.mdc-top-app-bar {
  .mdc-button {
    white-space: nowrap;
    width: fit-content;

    &--outlined {
      @include mdc-button-ink-color($mdc-theme-on-primary);

      &.mr12 {
        margin-right: 12px;
      }
    }

    &--raised {
      @include mdc-button-container-fill-color($mdc-theme-on-primary);
      @include mdc-button-ink-color($mdc-theme-primary);
    }
  }
}

.app-wrapper-max-width {
  margin: 42px auto 20px;
  max-width: 900px;
  padding: 0 12px;
}

.dark-link {
  color: $gray-90;

  &:hover {
    color: $mdc-theme-primary;
  }
}

// Tiny overrides
.tox {
  &.tox-tinymce {
    border-radius: 4px;
  }
}

// resets
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

a {
  &:hover {
    text-decoration: none;
  }
}
