@import "styles/common";

.container {
  background-color: $blue-grey-900;
  color: $white;
  margin-top: 32px;
  min-height: 78px;
  padding-bottom: 44px;
  padding-top: 44px;

  .footer-link {
    color: $white;
    text-decoration: underline;

    &:hover {
      color: $light-blue-500;
    }
  }

  .made-with {
    font-weight: $bolder;
    margin-top: 20px;
  }

  .more-links {
    margin-top: 20px;

    .pipe {
      margin-left: 12px;
      margin-right: 12px;
    }
  }
}

.social-container {
  align-items: center;
  display: flex;
  justify-content: center;

  // https://www.iconsdb.com/white-icons/white-social-icons.html
  .social-media-icon {
    height: 20px;
    margin: 0 6px;
  }
}
